@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-4; /* 모든 방향에 1rem(16px) 외부 여백 추가 */
}

@keyframes scroll {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.slow {
  animation: scroll 70s linear infinite;
}

.medium {
  animation: scroll 68s linear infinite;
}

.fast {
  animation: scroll 73s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
